# Environment variables
.env
.env.*

# Dependencies
node_modules/
dist/

# Logs
logs/
*.log
npm-debug.log*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Upload directory
uploads/
